.btn {
    border-radius: $global-radius;
}

.btn-yellow, .cl-nav .navbar-collapse li .btn {
    @include button-variant($white-1, $yellow-1, transparent);
    @include animation(background-color 0.5s ease-in);

    &:hover {
        background-color: $yellow-2;
    }
}

.btn-yellow--lrg {
    @extend .btn-yellow;
    border-width: 2px;
    width: auto;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 12px 21px 10px;
    display: block;
    font-weight: 500;
    margin: 15px auto 0;
    display: inline-block;

    @media all and (min-width: $lrg-mobile) {
        font-size: 19px;
        padding: 14px 21px 12px;
    }
}

.btn-ghost {
    @include button-variant($grey-2, transparent, $grey-2);
    border-width: 2px;
    width: auto;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 12px 21px 10px;
    display: block;
    font-weight: 500;
    margin: 30px auto 30px;
    display: table;

    @media all and (min-width: $lrg-mobile) {
        font-size: 19px;
        padding: 14px 21px 12px;
        margin: 30px auto 60px;
    }

    &:hover {
        color: $grey-2;
    }
}
