.cl-nav {
    height: 65px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0px;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.cl-nav .navbar-header {
    @include position(relative);
}

.cl-nav .navbar-collapse {
    li {
        margin-right: 5px;

        &:first-child {
            display: none;

            @media all and (min-width: $container-lrg-desktop) {
                display: inline-block;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        a {
            font-size: $font-size-base;
            font-weight: 400;
            color: white;
            @include padding(10px 8px);

            @media all and (min-width: $container-desktop) {
                @include padding(10px 14px);
            }

            &:hover {
                background-color: transparent;
            }
        }

        .btn {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.cl-nav .navbar-brand {
    display: block;
    width: 95px;
    height: auto;
    z-index: 9999;
    position: relative;

    @media all and (min-width: $container-tablet) {
        width: 110px;
    }

    img {
        width: 100%;
    }
}

.cl-nav .navbar-right {
    padding-top: 10px;
}

.cl-nav .navbar-toggle {
    z-index: 99;
    margin-top: 14px;
    margin-right: 5px;

    .icon-bar {
        background-color: $white-1;
        width: 28px;
    }

    .icon-bar+.icon-bar {
        margin-top: 6px;
    }
}
