.currency {
    margin-top: 20px;

    @media all and (min-width: $container-tablet) {
        margin-top: 0px;
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
    }

    &__currencies {
        font-size: 34px;
        margin-top: 10px;
        padding-top: 15px;
        border-top: 1px solid $grey-3;
        display: inline-block;

        span {
            font-size: 34px;
            font-weight: 300;
            margin-right: 40px;
            color: $green-1;

            @media all and (min-width: $lrg-mobile) {
                font-size: 38px;
                margin-right: 60px;
            }

            @media all and (min-width: $container-desktop) {
                font-size: 42px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
