.day {
    margin-bottom: 40px;
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);

    @media all and (min-width: $container-tablet) {
        @include flex-direction(row);
        @include align-items(flex-start);
    }
}

.day__date {
    @media all and (min-width: $container-tablet) {
        margin-right: 40px;
    }

    h4 {
        @include display(flex);
        @include flex-direction(column);
        @include align-items(center);
    }

    sup {
        display: none;
    }

    &--day-name {
        color: $grey-2;
        font-size: 11px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    &--number {
        background-color: $green-1;
        padding: 10px 0;
        border-radius: $global-radius;
        color: $white-1;
        font-size: 50px;
        letter-spacing: 1px;
        font-weight: 200;
        text-align: center;
        width: 90px;
        height: 90px;

        span {
            font-size: 14px;
            text-transform: uppercase;
            display: block;
            text-align: center;
            font-weight: 400;
        }
    }
}


.day__events {
    margin-top: 20px;

    &--item {
        @include display(flex);
        @include flex-direction(column);
        @include align-items(center);

        @media all and (min-width: $container-tablet) {
            @include align-items(flex-start);
        }

        span:first-child {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 1px;
            @include margin(10px 0);
        }

        span:last-child {
            font-size: 20px;
            font-weight: 300;
            border-top: 1px solid $grey-3;
            @include margin(0 0 20px);
            padding-top: 10px;
            text-align: center;

            @media all and (min-width: $container-tablet) {
                text-align: left;
                font-size: 24px;
            }
        }
    }
}
