.footer {
    background-color: $black-2;
    border-bottom: 6px solid $red-1;

    .footer__logos {
        &--1 {
            min-width: 60px;
            max-width: 60px;
        }

        &--2 {
            min-width: 299px;
            max-width: 299px;
        }

        &--3 {
            min-width: 175px;
            max-width: 175px;
        }

        &--4 {
            min-width: 130px;
            max-width: 130px;
        }
    }
}


.footer--watermark {
    position: absolute;
    top: -800%;
    width: 100%;
    z-index: 0;
    display: none;

    @media all and (min-width: 500px) {
        display: block;
    }
}


.footer__logos {
    width: 100%;
    margin-top: 100px;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);

    img {
        max-width: 100%;
    }

    > a {
        width: 75px;
        margin: auto;
        margin-bottom: 40px;
    }


    ul {
        list-style: none;
        @include display(flex);
        @include align-items(center);
        @include justify-content(space-between);
        @include flex-direction(column);
        padding-left: 0;
        margin: auto;
        width: 100%;
        @include flex-wrap(wrap);

        @media all and (min-width: $container-tablet) {
            width: 560px; /*730 with AB logo*/
            @include flex-wrap(nowrap);
            @include flex-direction(row);
        }
        margin: auto;

        img {
            height: 60px;
            margin-bottom: 20px;
            width: auto;

            @media all and (min-width: $container-tablet) {
                margin-bottom: 0;
            }
        }
    }
}

.footer__contact {
    color: $white-1;
    width: 100%;
    text-align: center;
    font-size: 13px;
    margin: 50px auto 100px;
    font-weight: 400;

    a {
        font-weight: 600;
        color: $white-1;
    }
}
