.formtype {
    select, input {
       -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
        background-color: transparent;
        border-radius: $global-radius;
        -webkit-appearance: none;
        box-shadow: none;
        border: 2px solid $grey-2;
        height: 42px;
        padding: 9px 12px;
        font-weight: 400;
        font-size: 15px;

        &:focus {
            border-color: $grey-2;
            -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.075), 0 0 8px rgba(255,255,255,0.6);
            box-shadow: inset 0 1px 1px rgba(255,255,255,0.075), 0 0 8px rgba(255,255,255,0.6);
        }
    }

    p {
        font-size: 15px;
        font-weight: 400;
        margin-top: 20px;
    }

    label {
        font-weight: 500;
    }

    h4 {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 500;
    }
}

.formtype__double {
    width: 100%;
    @include display(block);

    @media all and (min-width: $container-desktop) {
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-between);
    }

    > .form-group {
        width: 100%;

        @media all and (min-width: $container-desktop) {
            width: 48.5%;
        }
    }
}

.formtype__section--details {
    margin-top: 60px;
}

.has-error li {
    font-size: 13px;
    font-weight: 600;
}

.formtype__section--prefs {
    background-color: $green-1;
    padding: 10px 20px;
    color: white;
    border-radius: $global-radius;
    margin-bottom: 20px;
    margin-top: 40px;

    &.blue {
        background-color: $blue-1;
    }

    @media all and (min-width: $container-tablet) {
        margin-top: 65px;
    }

    select, input {
        -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        border-color: $white-1;
        color: $white-1;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $white-1;
        }

        &:-ms-input-placeholder { /* IE 10+ */
          color: $white-1;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $white-1;
        }
        &:placeholder {
            color: $white-1;
        }

        &:focus {
            border-color: $white-1;
            color: $white-1;
        }
    }

    .formtype__select {
        &::before {
            background-color: $white-1;
        }

        &::after {
            color: $white-1;
        }
    }
}

.formtype__select {
    @include position(relative);

    &::before {
        content: "";
        width: 2px;
        background-color: $grey-2;
        height: 100%;
        margin-right: 45px;
        @include position(absolute, 0px 0px null null);
    }

    &::after {
        content: "\f107";
        position: absolute;
        top: 4px;
        right: 15px;
        font-family: FontAwesome;
        font-size: 26px;
        font-weight: 100;
        color: $grey-2;
    }
}

.formtype__radio {
    display: inline-block;
    margin-right: 20px;

    label {
        padding-left: 35px;
    }

    input {
        border: none;

        &:focus {
            border: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;
            outline: none;
        }

        &[type="checkbox"] {
            @include position(absolute);
        }
    }

    span {
        background-color: transparent;
        border: 2px solid $white-1;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 0;
        top: 0px;

        &.checkbox {
            border-radius: 3px;
            top: -10px;
        }
    }

    input:checked + span {
        &::after {
            content: "";
            height: 9px;
            width: 9px;
            border-radius: 50%;
            background-color: $white-1;
            position: absolute;
            top: 6px;
            left: 6px;
        }
    }

    input[type="checkbox"]:checked + span {
        &::after {
            content: "\2713";
            height: 9px;
            width: 9px;
            border-radius: 50%;
            background-color: transparent;
            position: absolute;
            top: 1px;
            left: 3px;
        }
    }
}

.checkbox {
    font-style: italic;
}

#stop-the-bots, #stop-the-bots {
    display: none;
}
