@mixin heroBg(){
    background-size: cover;
    background-position: 200%;

    @media all and (min-width: $container-tablet) {
        background-size: 60%;
        background-position: left center;
    }
}

@mixin heroBgWelcome(){
    background-size: cover;
    background-position: 100%;

    @media all and (min-width: $mobile-only) {
        background-size: contain;
        background-position: left center;
    }

    @media all and (min-width: $container-desktop) {
        background-size: 60%;
        background-position: left center;
    }
}


.hero {
    @include padding(150px 0 70px);
    margin-bottom: 40px;
    background-color: black;
    position: relative;
    overflow: hidden;

    @media all and (min-width: $container-tablet) {
        @include padding(150px 0 100px);
    }

    img {
        @include transform(translateX(-25%));
        position: absolute;
        right: 0px;
        top: -65px;
        z-index: 99;
        width: 60%;

        @media all and (min-width: $mobile-only) {
            @include transform(translateX(-50%));
            left: 50%;
            top: -50px;
            z-index: 99;
            width: 170px;
        }
    }

    &--agenda {
        background: black url(../images/hero/agenda.png) left center no-repeat;
        @include heroBg();
    }

    &--gallery {
        background: black url(../images/hero/gallery.png) left center no-repeat;
        @include heroBg();
    }

    &--need-to-know {
        background: black url(../images/hero/need-to-know.png) left center no-repeat;
        @include heroBg();
    }

    &--registration {
        background: black url(../images/hero/registration.png) left center no-repeat;
        @include heroBg();
    }

    &--welcome {
        background: black url(../images/hero/welcome.png) left center no-repeat;
        @include heroBgWelcome();
    }

    &__panel {
        &--blue {
            background-color: $blue-1;
            @include position(absolute, -180px -60px null null);
            height: 800px;
            width: 55%;
            z-index: 1;

            @media all and (min-width: $container-desktop) {
                width: 50%;
            }

            @include transform(rotate(-17deg));
        }
        &--body {
            background: transparent url(../images/hero-angled-panel-extra-small.png) center center no-repeat;
            background-size: 100% 100%;
            height: 80px;
            width: 100%;
            @include position(absolute, null null 0 0);
            z-index: 10;

            @media all and (min-width: $mobile-only) {
                background: transparent url(../images/hero-angled-panel-small.png) center center no-repeat;
                background-size: 100% 100%;
            }

            @media all and (min-width: $container-tablet) {
                background: transparent url(../images/hero-angled-panel.png) center center no-repeat;
                background-size: 100% 100%;
            }
        }
    }

    h2 {
        color: white;
        font-size: 9vw;
        font-weight: 400;

        @media all and (min-width: 500px) {
            font-size: 42px;
        }
    }
}


.hero--welcome {
    h2 {
        font-size: 9vw;

        @media all and (min-width: $mobile-only) {
            font-size: 56px;
        }
    }

    img {
        @media all and (min-width: $mobile-only) {
            top: -5px;
            width: 190px;
        }
    }
}
