.home-content {
    &--heading {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;

        @media all and (min-width: $mobile-only) {
            font-size: 32px;
            line-height: 44px;
        }
    }

    &--copy {
        line-height: 26px;
        font-size: 16px;
        font-weight: 400;

        @media all and (min-width: $mobile-only) {
            font-size: 18px;
            line-height: 28px;
        }
    }
}

.home-content--btn {
    margin-top: 40px;

    @media all and (min-width: $container-desktop) {
        margin-top: 120px;
    }
}
