.modal-conf {
    width: 90%;
    position: absolute;
    top: 20vh;
    left: 50%;
    @include transform(translateX(-50%));
    background-color: $grey-1;
    padding: 30px 40px 50px;
    border-radius: $global-radius;
    box-shadow: 0px 0px 5px rgba(0,0,0,1);
    @include animation(background-color 0.5s ease-in);
    opacity: 0;
    z-index: -1;

    &.active {
        opacity: 1;
        z-index: 110;

        + .modal-conf__bg {
            opacity: 1;
            z-index: 109;
        }
    }

    @media all and (min-width: 500px) {
        width: 450px;
    }

    .thankyou {
        text-align: center;
        padding-bottom: 0;
    }
}

.modal-conf__bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 109;
    top: 0;
    opacity: 0;
    @include animation(all 0.5s ease-in);
    z-index: -1;
}


.modal-conf--close {
    position: absolute;
    top: 18px;
    right: 30px;
    color: $grey-2;
    @include transform(rotate(45deg));
    font-weight: 500;
    font-size: 28px;
    text-shadow: 1px 1px 1px white;

    &:hover {
        text-decoration: none;
    }
}
