.ntk-section__heading {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;

    @media all and (min-width: $lrg-mobile) {
        font-size: 32px;
    }
}

.ntk-section__content {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}

ul.ntk-section__content {
    list-style: none;
    font-size: 16px;
    line-height: 32px;
    @include padding(0px);
}
