.site-content {
    &--wrapper {
        padding: 20px 0 45px;
        @include position(relative);
        z-index: 1;

        @media all and (min-width: $mobile-only) {
            padding: 40px 0 90px;
        }

        &--home {
            padding: 20px 0 45px;

            @media all and (min-width: $mobile-only) {
                padding: 40px 0 60px;
            }

            @media all and (min-width: $container-desktop) {
                padding: 60px 0 110px;
            }
        }
    }
}
