.temperature {
    &__title {
        font-size: 18px;
        font-weight: 500;
    }

    &__temp {
        font-size: 34px;
        font-weight: 300;
        padding-top: 15px;
        margin-top: 10px;
        border-top: 1px solid $grey-3;
        display: inline-block;
        color: $green-1;

        @media all and (min-width: $lrg-mobile) {
            font-size: 32px;
        }

        @media all and (min-width: $container-desktop) {
            font-size: 42px;
        }
    }
}
