.video__text {
    margin-top: 35px;

    @media all and (min-width: $container-desktop) {
        margin-top: 0px;
    }

    h3 {
        font-size: 32px;
        margin: 20px 0;
    }

    p {
        font-size: 16px;
        font-weight: 300;
    }
}
