.countdown {
    @include position(absolute, 0 null null 0);
}

.countdown__list {
    @include display(flex);
    @include flex-direction(row);
    list-style: none;
    padding-left: 0;
    margin-left: 85px;
    margin-top: 15px;
    width: 260px;

    @media all and (min-width: $container-desktop) {
        margin-top: 30px;
        margin-left: 90px;
    }
}

.countdown__item {
    @include display(flex);
    @include flex-direction(column);
    font-size: 24px;
    font-weight: 400;
    color: $white-1;
    text-align: center;
    width: 17%;
    line-height: 20px;

    @media all and (min-width: $container-desktop) {
        font-size: 35px;
        width: 21%;
        line-height: initial;
    }

    span {
        width: 100%;
        letter-spacing: 1px;

        &:first-child {
            font-size: 11px;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center;
        }
    }
}
