.currency__currencies {
    margin-bottom: 60px;

    span {
        width: 100%;
        display: block;
        font-size: 32px;

        @media all and (min-width: $mobile-only) {
            width: 50%;
            display: inline-block;
            margin-right: 0px;
        }

        @media all and (min-width: $container-desktop) {
            font-size: 42px;
        }
    }

    &--europound {
        font-size: 32px;
    }

    &--eurodollar {
        font-size: 32px;
    }

    &--hkdollar {
        font-size: 32px;
    }

    &--europound {
        font-size: 32px;
    }
}
