.pushy {
    background-color: white;
}

.pushy-content {
    ul {
        list-style: none;
        padding-left: 0px;

        a {
            font-weight: 400;
            color: $grey-2;
            font-size: 15px;
            @include padding(12px 30px);

            &:hover {
                color: $black-2;
            }
        }
    }
}
