.thumbnail-gallery {
    width: 100%;
    @include margin(40px 0);

    @include padding(0 5%);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    @include flex-wrap(wrap);

    figure {
        width: 30%;
        padding-bottom: 20px;
        padding-bottom: 4vw;

        @media all and (min-width: $mobile-only) {
            width: 22%;
            padding-bottom: 15px;
        }

        @media all and (min-width: $container-tablet) {
            width: 18%;
            padding-bottom: 25px;
        }

        img {
            width: 100%;
        }
    }
}

.thumbnail-gallery__title {
    text-align: center;
    font-size: 32px;
    margin: 40px 0 0;

    @media all and (min-width: $container-desktop) {
        margin-top: 80px;
    }
}
