.twitter-feed {
    background-color: $green-1;
    color: white;
    position: relative;

    h2 {
        text-align: right;
    }

    &__panel {
        background: transparent url(../images/hero-angled-panel-green-extra-small.png) center center no-repeat;
        background-size: 100% 100%;
        height: 80px;
        width: 100%;
        @include position(relative, null null 0 0);
        z-index: 0;

        @media all and (min-width: $mobile-only) {
            background: transparent url(../images/hero-angled-panel-green-small.png) center center no-repeat;
            background-size: 100% 100%;
        }

        @media all and (min-width: $container-tablet) {
            background: transparent url(../images/hero-angled-panel-green.png) center center no-repeat;
            background-size: 100% 100%;
        }
    }

    .twitter-feed__parent {
        @include display(flex);
        @include flex-direction(row);
        @include flex-wrap(wrap);
        margin-bottom: 40px;

        > div {
            float: none;
            min-height: 100px;
        }
    }
}


.twitter-feed__item {
    min-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;

    @media all and (min-width: $mobile-only) {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .date {
        font-size: 13px;
        color: $blue-2;
        margin-bottom: 0px;
        font-weight: 400;

        .fa {
            margin-right: 5px;
            font-size: 17px;
        }
    }

    a.screenname {
        font-size: 22px;
        font-weight: 500;
        color: $green-2;
        padding-bottom: 15px;
        display: block;
    }

    p {
        font-size: 18px;
        font-weight: 300;

        a {
            font-weight: 600;
            color: $white-1;
        }
    }
}
